<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="hover.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id='app'>
        <div class="wrap">
            <div class="wrap-body">
                <aside class="guide" id="target">
                    <div class="type-nav">
                        <div class="type-box" v-for="parent in abstract.parent" :key="parent">
                            <div class="type-title">
                                <a href="#d1" class="link-to">
                                    <span>
                                        <i class="fa" :class="parent.child.class" aria-hidden="true"></i>
                                    </span>
                                    <span class="title">{{parent.child.name}}</span>
                                </a>
                            </div>
                            <ul>
                                <li class="type-item" v-for="item in parent.child.list" :key="item">
                                    <a :href="item.href" class="link-to hvr-pulse-shrink" :title="item.title">{{item.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="container" id="container">
                    <main class="main">
                        <section class="section" v-for="(parent,index) in detail.parent" :id=`d${index+1}`>
                            <h2 class="section-title">{{parent.title}}</h2>
                            <div class="section-item" :id="`d${index+1}`+`-${ii+1}`" v-for="(son,ii) in parent.son">
                                <h3 class="section-sub-title">{{son.name}}</h3>
                                <ul class="section-box">
                                    <li v-for="child in son.list" :key="child">
                                        <a target="_blank" class="hvr-wobble-vertical hvr-shutter-in-horizontal" :href="child.href" :title="child.title">{{child.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
            <div class="wrap-footer">
                Copyright © 2018-2188 superhan.
                <a href="###">superhan版权所有</a> | superhan
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src='vue.min.js'></script>

<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            abstract: {
                parent: [{
                    child: {
                        class: "fa-wrench",
                        name: "前端工具",
                        list: [{
                            title: "编辑器",
                            href: "#d1-1"
                        }, {
                            title: "自动化工具",
                            href: "#d1-2"
                        }, {
                            title: "效率工具",
                            href: "#d1-3"
                        }, {
                            title: "思维导图工具",
                            href: "#d1-4"
                        }, {
                            title: "测试工具",
                            href: "#d1-5"
                        }, {
                            title: "抓包工具",
                            href: "#d1-6"
                        }, {
                            title: "数据模拟工具",
                            href: "#d1-7"
                        }]
                    }
                }, {
                    child: {
                        class: "fa-magic",
                        name: "前端框架 | 库",
                        list: [{
                            title: "数据交互框架",
                            href: "#d2-1"
                        }, {
                            title: "模块化",
                            href: "#d2-2"
                        }, {
                            title: "WebApp框架",
                            href: "#d2-3"
                        }, {
                            title: "UI框架",
                            href: "#d2-4"
                        }, {
                            title: "前端动画",
                            href: "#d2-5"
                        }, ]
                    }
                }, {
                    child: {
                        class: "fa-binoculars",
                        name: "前端插件",
                        list: [{
                            title: "页面用户体验插件",
                            href: "#d3-1"
                        }, {
                            title: "编辑器插件",
                            href: "#d3-2"
                        }, {
                            title: "播放器插件",
                            href: "#d3-3"
                        }, {
                            title: "各种插件",
                            href: "#d3-4"
                        }, ]
                    }
                }, {
                    child: {
                        class: "fa-universal-access",
                        name: "前端博客",
                        list: [{
                            title: "各大牛人博客",
                            href: "#d4-1"
                        }, {
                            title: "各大厂博客",
                            href: "#d4-2"
                        }, {
                            title: "各前端网站",
                            href: "#d4-3"
                        }, ]
                    }
                }, {
                    child: {
                        class: "fa-pie-chart",
                        name: "前端图表 | 3D 引擎",
                        list: [{
                            title: "图表库",
                            href: "#d5-1"
                        }, {
                            title: "3D 引擎",
                            href: "#d5-2"
                        }, ]
                    }
                }, {
                    child: {
                        class: "fa-picture-o",
                        name: "前端图标 | 图片",
                        list: [{
                            title: "前端图标",
                            href: "#6-1"
                        }]
                    }
                }]
            },

            detail: {
                parent: [{
                    title: "前端工具",
                    son: [{
                        name: "编译器",
                        list: [{
                            title: "Visual Studio Code",
                            href: "https://code.visualstudio.com/"
                        }, {
                            title: "Sublime Text3",
                            href: "http://www.sublimetext.com/"
                        }, {
                            title: "Atom",
                            href: "https://atom.io/"
                        }, {
                            title: "Notepad",
                            href: "https://notepad-plus-plus.org/"
                        }, {
                            title: "HBuilder",
                            href: "http://www.dcloud.io/"
                        }, {
                            title: "Webstorm",
                            href: "https://www.jetbrains.com/webstorm/"
                        }, {
                            title: "MacDown",
                            href: "http://macdown.uranusjr.com/"
                        }, {
                            title: "UltraEdit",
                            href: "https://www.ultraedit.com/"
                        }, {
                            title: "Brackets",
                            href: "http://brackets.io/"
                        }, {
                            title: "Light Table",
                            href: "http://lighttable.com/"
                        }, {
                            title: "Dreamweaver",
                            href: "https://www.adobe.com/cn/products/dreamweaver.html"
                        }, {
                            title: "jsfiddle",
                            href: "https://jsfiddle.net/"
                        }, {
                            title: "codepen",
                            href: "https://codepen.io/"
                        }, {
                            title: "jsbin",
                            href: "http://jsbin.com/"
                        }, {
                            title: "RunJS",
                            href: "http://runjs.cn/"
                        }, {
                            title: "sassmeister",
                            href: "https://www.sassmeister.com/"
                        }, ]
                    }, {
                        name: "自动化工具",
                        list: [{
                            title: "Gulp",
                            href: "https://gulpjs.com/"
                        }, {
                            title: "GRUNT",
                            href: "https://gruntjs.com/"
                        }, {
                            title: "FIS3",
                            href: "http://fis.baidu.com/"
                        }, {
                            title: "Ant",
                            href: "http://ant.apache.org/"
                        }, {
                            title: "yeoman",
                            href: "http://yeoman.io/"
                        }, {
                            title: "codekitapp",
                            href: "https://codekitapp.com/"
                        }, {
                            title: "koala",
                            href: "http://koala-app.com/"
                        }, {
                            title: "webpack",
                            href: "https://webpack.github.io/"
                        }, ]
                    }, {
                        name: "测试工具",
                        list: [{
                            title: "Firebug",
                            href: 'https://getfirebug.com/',
                        }, {
                            title: "YSlow",
                            href: 'http://yslow.org/',
                        }, {
                            title: "Chrome DevTools",
                            href: 'https://developer.chrome.com/devtools',
                        }, {
                            title: "jslint",
                            href: 'http://www.jslint.com/',
                        }, {
                            title: "jsHint",
                            href: 'http://jshint.com/',
                        }, {
                            title: "CSS LINT",
                            href: 'http://csslint.net/',
                        }, {
                            title: "UnitJS",
                            href: 'http://unitjs.com/',
                        }, {
                            title: "jasmine",
                            href: 'https://jasmine.github.io/',
                        }, {
                            title: "BrowserStack",
                            href: 'https://www.browserstack.com/'
                        }]
                    }, {
                        name: "抓包工具",
                        list: [{
                            title: 'Fiddler',
                            href: 'http://www.telerik.com/fiddler'
                        }, {
                            title: 'Charles',
                            href: 'https://www.charlesproxy.com/',
                        }]
                    }, {
                        name: "效率工具",
                        list: [{
                            title: "奇妙清单",
                            href: 'https://www.wunderlist.com/zh/'
                        }, {
                            title: "Dash",
                            href: 'https://kapeli.com/dash'
                        }, {
                            title: "OmniGraffle",
                            href: 'https://www.omnigroup.com/omnigraffle/'
                        }]
                    }, {
                        name: "思维导图工具",
                        list: [{
                            title: "幕布",
                            href: "https://mubu.com/"
                        }, {
                            title: "百度脑图",
                            href: "http://naotu.baidu.com/"
                        }, {
                            title: "凹脑图",
                            href: "https://aonaotu.com/"
                        }, {
                            title: "XMind",
                            href: "https://www.xmind.cn/"
                        }, {
                            title: "ProcessOn",
                            href: "https://www.processon.com/"
                        }]
                    }, {
                        name: "数据模拟工具",
                        list: [{
                            title: "JSONPlaceholder",
                            href: 'http://jsonplaceholder.typicode.com/',
                        }, {
                            title: "Easy Mock",
                            href: 'https://easy-mock.com/'
                        }]
                    }]
                }, {
                    title: "前端框架 | 库",
                    son: [{
                        name: "数据交互框架",
                        list: [{
                            title: "Vuejs",
                            href: 'https://vuejs.org/',
                        }, {
                            title: "Angular",
                            href: 'https://vux.li/',
                        }, {
                            title: "Avalon",
                            href: 'http://avalonjs.coding.me/',
                        }, {
                            title: "knockout",
                            href: 'http://knockoutjs.com/',
                        }, {
                            title: "Backbone",
                            href: 'http://backbonejs.org/',
                        }, {
                            title: "React",
                            href: 'https://reactjs.org/',
                        }, {
                            title: "Nerv",
                            href: 'https://nerv.aotu.io/',
                        }, {
                            title: "Flutter",
                            href: 'https://flutter.io/',
                        }]
                    }, {
                        name: "数据交互框架组件库",
                        list: [{
                            title: "IView",
                            href: 'https://www.iviewui.com/',
                        }, {
                            title: "vux",
                            href: 'https://vux.li/#/',
                        }, {
                            title: "Mint UI",
                            href: 'http://mint-ui.github.io/',
                        }, {
                            title: "WE-VUE",
                            href: 'https://wevue.org/',
                        }, {
                            title: "VUE-MUI",
                            href: 'http://mui.yaobieting.com/',
                        }, {
                            title: "Radon UI",
                            href: 'https://luojilab.github.io/radon-ui/#!/',
                        }, {
                            title: "Vue Antd",
                            href: 'http://okoala.github.io/vue-antd/#!/components',
                        }, {
                            title: "N3",
                            href: 'https://n3-components.github.io/N3-components/',
                        }, {
                            title: "uikit",
                            href: 'https://vuikit.js.org/#/',
                        }, {
                            title: "vuetify",
                            href: 'https://vuetifyjs.com'
                        }, ]
                    }, {
                        name: "模块化",
                        list: [{
                            title: "Requirejs",
                            href: "http://requirejs.org/"
                        }, {
                            title: "CommonJs",
                            href: "http://www.commonjs.org/"
                        }]
                    }, {
                        name: "WebApp框架",
                        list: [{
                            title: "SUI Mobile",
                            href: 'http://m.sui.taobao.org/',
                        }, {
                            title: "Ionic",
                            href: 'https://ionicframework.com/',
                        }, {
                            title: "Framework7",
                            href: 'http://framework7.io/',
                        }, {
                            title: "Weex",
                            href: 'http://weex.apache.org/'
                        }, ]
                    }, {
                        name: "UI框架",
                        list: [{
                            title: "",
                            href: 'https://getbootstrap.com/',
                        }, {
                            title: "",
                            href: 'http://www.layui.com/',
                        }, {
                            title: "",
                            href: 'https://www.mdui.org/',
                        }, {
                            title: "",
                            href: 'http://www.pintuer.com/',
                        }, {
                            title: "",
                            href: 'http://win10ui.yuri2.cn/',
                        }, {
                            title: "",
                            href: 'https://getuikit.com/',
                        }, {
                            title: "",
                            href: 'http://amazeui.org/',
                        }, {
                            title: "",
                            href: 'https://foundation.zurb.com/',
                        }, {
                            title: "",
                            href: 'https://semantic-ui.com/',
                        }, {
                            title: "",
                            href: 'https://purecss.io/',
                        }, {
                            title: "",
                            href: 'http://materializecss.com/',
                        }, {
                            title: "",
                            href: 'https://html5boilerplate.com/',
                        }, {
                            title: "",
                            href: 'https://metroui.org.ua/',
                        }, {
                            title: "",
                            href: 'https://frozenui.github.io/',
                        }, {
                            title: "",
                            href: 'http://dev.dcloud.net.cn/mui/',
                        }, {
                            title: "",
                            href: 'https://weui.io/'
                        }, ]
                    }, {
                        name: "前端动画",
                        list: [{
                            title: "",
                            href: 'https://h5bp.github.io/Effeckt.css/',
                        }, {
                            title: "",
                            href: 'https://ianlunn.github.io/Hover/',
                        }, {
                            title: "",
                            href: 'https://daneden.github.io/animate.css/',
                        }, {
                            title: "",
                            href: 'https://kushagragour.in/lab/hint/',
                        }, {
                            title: "",
                            href: 'http://www.justinaguilar.com/animations/',
                        }, {
                            title: "",
                            href: 'https://github.com/lukehaas/css-loaders',
                        }, {
                            title: "",
                            href: 'https://una.im/CSSgram/',
                        }, {
                            title: "",
                            href: 'http://snapsvg.io/',
                        }, {
                            title: "",
                            href: 'https://github.com/tweenjs/tween.js',
                        }, {
                            title: "",
                            href: 'http://dynamicsjs.com/',
                        }, {
                            title: "",
                            href: 'https://www.sequencejs.com/',
                        }, {
                            title: "",
                            href: 'http://velocityjs.org/',
                        }, {
                            title: "",
                            href: 'https://popmotion.io/',
                        }, {
                            title: "",
                            href: 'https://impress.js.org',
                        }, {
                            title: "",
                            href: 'http://colorify.rocks/',
                        }, {
                            title: "",
                            href: 'https://leaverou.github.io/animatable/',
                        }, {
                            title: "",
                            href: 'https://github.com/alvarotrigo/pagePiling.js',
                        }, {
                            title: "",
                            href: 'https://greensock.com/',
                        }, {
                            title: "",
                            href: 'https://two.js.org/',
                        }, {
                            title: "",
                            href: 'http://mojs.io/',
                        }, {
                            title: "",
                            href: 'https://soulwire.github.io/sketch.js/',
                        }, {
                            title: "",
                            href: 'https://www.createjs.com/'
                        }, ]
                    }, ]
                }, {
                    title: "前端插件",
                    son: [{
                        name: "页面用户体验插件",
                        list: [{
                            title: "",
                            href: 'http://ricostacruz.com/nprogress/',
                        }, {
                            title: "",
                            href: 'https://github.com/codrops/ElasticProgress',
                        }, {
                            title: "",
                            href: 'http://github.hubspot.com/pace/docs/welcome/',
                        }, {
                            title: "",
                            href: 'http://wicky.nillia.ms/headroom.js/',
                        }, {
                            title: "",
                            href: 'https://mattboldt.com/demos/typed-js/'
                        }, ]
                    }, {
                        name: "编辑器插件",
                        list: [{
                            title: "",
                            href: 'http://ueditor.baidu.com/website/index.html',
                        }, {
                            title: "",
                            href: 'https://eleditor.fixel.cn/',
                        }, {
                            title: "",
                            href: 'http://www.wangeditor.com/',
                        }, {
                            title: "",
                            href: 'https://www.froala.com/',
                        }, {
                            title: "",
                            href: 'https://www.tinymce.com/',
                        }, {
                            title: "",
                            href: 'http://simditor.tower.im/',
                        }, {
                            title: "",
                            href: 'https://ckeditor.com/'
                        }, ]
                    }, {
                        name: "播放器插件",
                        list: [{
                            title: "",
                            href: 'http://chimee.org/',
                        }, {
                            title: "",
                            href: 'http://videojs.com/',
                        }, {
                            title: "",
                            href: 'https://www.createjs.com/soundjs'
                        }]
                    }, {
                        name: "各种插件",
                        list: [{
                            title: "",
                            href: 'https://www.createjs.com/',
                        }, {
                            title: "",
                            href: 'https://www.createjs.com/preloadjs',
                        }, {
                            title: "",
                            href: 'http://www.swiper.com.cn/',
                        }, {
                            title: "",
                            href: 'http://iscrolljs.com/',
                        }, {
                            title: "",
                            href: 'https://alvarotrigo.com/fullPage/',
                        }, {
                            title: "",
                            href: 'http://kenwheeler.github.io/slick/',
                        }, {
                            title: "",
                            href: 'http://slidesjs.com/',
                        }, {
                            title: "",
                            href: 'http://hammerjs.github.io/',
                        }, {
                            title: "",
                            href: 'http://johnpolacek.github.io/superscrollorama/',
                        }, {
                            title: "",
                            href: 'http://scrollmagic.io/',
                        }, {
                            title: "",
                            href: 'http://mynameismatthieu.com/WOW/',
                        }, {
                            title: "",
                            href: 'http://prinzhorn.github.io/skrollr/',
                        }, {
                            title: "",
                            href: 'http://markdalgleish.com/projects/stellar.js/',
                        }, {
                            title: "",
                            href: 'https://alvarotrigo.com/multiScroll/',
                        }, {
                            title: "",
                            href: 'https://bevacqua.github.io/dragula/',
                        }, {
                            title: "",
                            href: 'http://imakewebthings.com/waypoints/',
                        }, {
                            title: "",
                            href: 'http://stickyjs.com/'
                        }, ]
                    }],
                }, {
                    title: "前端博客",
                    son: [{
                        name: "前端牛人博客",
                        list: [{
                            title: "",
                            href: 'http://www.zhangxinxu.com/',
                        }, {
                            title: "",
                            href: 'https://yuguo.us/weblog/',
                        }, {
                            title: "",
                            href: 'http://jiongks.name/',
                        }, {
                            title: "",
                            href: 'http://blog.cssforest.org/'
                        }, ]
                    }, {
                        name: "各大厂博客",
                        list: [{
                            title: "",
                            href: 'http://www.alloyteam.com/',
                        }, {
                            title: "",
                            href: 'https://isux.tencent.com/',
                        }, {
                            title: "",
                            href: 'https://aotu.io/',
                        }, {
                            title: "",
                            href: 'http://tgideas.qq.com/',
                        }, {
                            title: "",
                            href: 'http://qqfe.org/',
                        }, {
                            title: "",
                            href: 'http://djt.qq.com/',
                        }, {
                            title: "",
                            href: 'http://www.aliued.com/',
                        }, {
                            title: "",
                            href: 'http://www.aliued.cn/',
                        }, {
                            title: "",
                            href: 'http://taobaofed.org/',
                        }, {
                            title: "",
                            href: 'https://75team.com/',
                        }, {
                            title: "",
                            href: 'http://fex.baidu.com/',
                        }, {
                            title: "",
                            href: 'http://ued.baidu.com/',
                        }, {
                            title: "",
                            href: 'http://eux.baidu.com/',
                        }, {
                            title: "",
                            href: 'http://mxd.tencent.com/',
                        }, {
                            title: "",
                            href: 'http://uedc.163.com/',
                        }, {
                            title: "",
                            href: 'http://jdc.jd.com/'
                        }, ]
                    }, {
                        name: "各前端网站",
                        list: [{
                            title: "",
                            href: 'https://www.qianduan.net/',
                        }, {
                            title: "",
                            href: 'http://www.css88.com/',
                        }, {
                            title: "",
                            href: 'https://www.w3ctech.com/',
                        }, {
                            title: "",
                            href: 'https://www.w3cplus.com/',
                        }, {
                            title: "",
                            href: 'https://www.qianduan.net/',
                        }, {
                            title: "",
                            href: 'http://www.daqianduan.com/'
                        }, ]
                    }]
                }, {
                    title: "前端图表 | 3D 引擎",
                    son: [{
                        name: "前端图表",
                        list: [{
                            title: "",
                            href: "http://echarts.baidu.com/"
                        }, {
                            title: "",
                            href: "https://www.highcharts.com/"
                        }, {
                            title: "",
                            href: "https://bl.ocks.org/mbostock"
                        }]
                    }, {
                        name: "前端3D引擎",
                        list: [{
                            title: "",
                            href: ""
                        }]
                    }]
                }, {
                    title: "前端图标 | 图片",
                    son: [{
                        name: "前端图标收藏",
                        list: [{
                            title: "",
                            href: 'https://fontawesome.com/',
                        }, {
                            title: "",
                            href: 'http://www.iconfont.cn/',
                        }, {
                            title: "",
                            href: 'https://icomoon.io/',
                        }, {
                            title: "",
                            href: 'http://glyphicons.com/',
                        }, {
                            title: "",
                            href: 'https://www.flaticon.com/',
                        }, {
                            title: "",
                            href: 'https://www.easyicon.net/',
                        }, {
                            title: "",
                            href: 'https://icons8.com/'
                        }, ]
                    }]
                }]
            }
        }
    })
</script>
<script src="Tween.min.js"></script>
<script src="index.js"></script>

</html>