<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id='app'>
        <div class="wrap">
            <div class="wrap-body">
                <aside class="guide" id="target">
                    <div class="type-nav">
                        <div class="type-box" v-for="parent in abstract.parent" :key="parent">
                            <div class="type-title">
                                <a href="#d1" class="link-to">
                                    <span>
                                        <i class="fa" :class="parent.child.class" aria-hidden="true"></i>
                                    </span>
                                    <span class="title">{{parent.child.name}}</span>
                                </a>
                            </div>
                            <ul>
                                <li class="type-item" v-for="item in parent.child.list" :key="item">
                                    <a :href="item.href" class="link-to" :title="item.title">{{item.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="container" id="container">
                    <main class="main">
                        <section class="section" v-for="(parent,index) in detail.parent" :id=`d${index+1}`>
                            <h2 class="section-title">{{parent.title}}</h2>
                            <div class="section-item" :id="`d${index+1}`+`-${ii+1}`" v-for="(son,ii) in parent.son">
                                <h3 class="section-sub-title">{{son.name}}</h3>
                                <ul class="section-box">
                                    <li v-for="child in son.list" :key="child">
                                        <a target="_blank" :href="child.href" :title="child.title">{{child.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
            <div class="wrap-footer">
                Copyright © 2018-2188 superhan.
                <a href="###">superhan版权所有</a> | superhan
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src='vue.min.js'></script>

<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            abstract: {
                parent: [{
                    child: {
                        class: "fa-wrench",
                        name: "前端工具",
                        list: [
                            { title: "编辑器", href: "#d1-1" },
                            { title: "自动化工具", href: "#d1-2" },
                            { title: "效率工具", href: "#d1-3" },
                            { title: "思维导图工具", href: "#d1-4" },
                            { title: "测试工具", href: "#d1-5" },
                            { title: "抓包工具", href: "#d1-6" },
                            { title: "数据模拟工具", href: "#d1-7" }
                        ]
                    }
                },
                {
                    child: {
                        class: "fa-magic",
                        name: "前端框架 | 库",
                        list: [
                            { title: "数据交互框架", href: "#d2-1" },
                            { title: "模块化", href: "#d2-2" },
                            { title: "WebApp框架", href: "#d2-3" },
                            { title: "UI框架", href: "#d2-4" },
                            { title: "前端动画", href: "#d2-5" },
                        ]
                    }
                },
                {
                    child: {
                        class: "fa-binoculars",
                        name: "前端插件",
                        list: [
                            { title: "页面用户体验插件", href: "#d3-1" },
                            { title: "编辑器插件", href: "#d3-2" },
                            { title: "播放器插件", href: "#d3-3" },
                            { title: "各种插件", href: "#d3-4" },
                        ]
                    }
                },
                {
                    child: {
                        class: "fa-universal-access",
                        name: "前端博客",
                        list: [
                            { title: "各大牛人博客", href: "#d4-1" },
                            { title: "各大厂博客", href: "#d4-2" },
                            { title: "各前端网站", href: "#d4-3" },
                        ]
                    }
                },
                {
                    child: {
                        class: "fa-pie-chart",
                        name: "前端图表 | 3D 引擎",
                        list: [
                            { title: "图表库", href: "#d5-1" },
                            { title: "3D 引擎", href: "#d5-2" },
                        ]
                    }
                }, {
                    child: {
                        class: "fa-picture-o",
                        name: "前端图标 | 图片",
                        list: [
                            { title: "前端图标", href: "#6-1" }
                        ]
                    }
                }]
            },

            detail: {
                parent: [{
                    title: "前端工具",
                    son: [{
                        name: "编译器",
                        list: [
                            { title: "Visual Studio Code", href: "https://code.visualstudio.com/" },
                            { title: "Sublime Text3", href: "http://www.sublimetext.com/" },
                            { title: "Atom", href: "https://atom.io/" },
                            { title: "Notepad", href: "https://notepad-plus-plus.org/" },
                            { title: "HBuilder", href: "http://www.dcloud.io/" },
                            { title: "Webstorm", href: "https://www.jetbrains.com/webstorm/" },
                            { title: "MacDown", href: "http://macdown.uranusjr.com/" },
                            { title: "UltraEdit", href: "https://www.ultraedit.com/" },
                            { title: "Brackets", href: "http://brackets.io/" },
                            { title: "Light Table", href: "http://lighttable.com/" },
                            { title: "Dreamweaver", href: "https://www.adobe.com/cn/products/dreamweaver.html" },
                            { title: "jsfiddle", href: "https://jsfiddle.net/" },
                            { title: "codepen", href: "https://codepen.io/" },
                            { title: "jsbin", href: "http://jsbin.com/" },
                            { title: "RunJS", href: "http://runjs.cn/" },
                            { title: "sassmeister", href: "https://www.sassmeister.com/" },
                        ]
                    },
                    {
                        name: "自动化工具",
                        list: [
                            { title: "Gulp", href: "https://gulpjs.com/" },
                            { title: "GRUNT", href: "https://gruntjs.com/" },
                            { title: "FIS3", href: "http://fis.baidu.com/" },
                            { title: "Ant", href: "http://ant.apache.org/" },
                            { title: "yeoman", href: "http://yeoman.io/" },
                            { title: "codekitapp", href: "https://codekitapp.com/" },
                            { title: "koala", href: "http://koala-app.com/" },
                            { title: "webpack", href: "https://webpack.github.io/" },
                        ]
                    }]
                },
                {
                    title: "前端工具",
                    son: [{
                        name: "编译器",
                        list: [
                            { title: "Visual Studio Code", href: "https://code.visualstudio.com/" },
                            { title: "Sublime Text3", href: "http://www.sublimetext.com/" },
                            { title: "Atom", href: "https://atom.io/" },
                            { title: "Notepad", href: "https://notepad-plus-plus.org/" },
                            { title: "HBuilder", href: "http://www.dcloud.io/" },
                            { title: "Webstorm", href: "https://www.jetbrains.com/webstorm/" },
                            { title: "MacDown", href: "http://macdown.uranusjr.com/" },
                            { title: "UltraEdit", href: "https://www.ultraedit.com/" },
                            { title: "Brackets", href: "http://brackets.io/" },
                            { title: "Light Table", href: "http://lighttable.com/" },
                            { title: "Dreamweaver", href: "https://www.adobe.com/cn/products/dreamweaver.html" },
                            { title: "jsfiddle", href: "https://jsfiddle.net/" },
                            { title: "codepen", href: "https://codepen.io/" },
                        ]
                    },
                    {
                        name: "编译器",
                        list: [
                            { title: "Visual Studio Code", href: "https://code.visualstudio.com/" },
                            { title: "Sublime Text3", href: "http://www.sublimetext.com/" },
                            { title: "Atom", href: "https://atom.io/" },
                            { title: "Notepad", href: "https://notepad-plus-plus.org/" },
                            { title: "HBuilder", href: "http://www.dcloud.io/" },
                            { title: "Webstorm", href: "https://www.jetbrains.com/webstorm/" },
                            { title: "MacDown", href: "http://macdown.uranusjr.com/" },
                            { title: "UltraEdit", href: "https://www.ultraedit.com/" },
                            { title: "Brackets", href: "http://brackets.io/" },
                            { title: "Light Table", href: "http://lighttable.com/" },
                            { title: "Dreamweaver", href: "https://www.adobe.com/cn/products/dreamweaver.html" },
                            { title: "jsfiddle", href: "https://jsfiddle.net/" },
                            { title: "codepen", href: "https://codepen.io/" },
                        ]
                    }]
                }]
            }
        }
    })
</script>
<script src="Tween.min.js"></script>
<script src="index.js"></script>

</html>