<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="book in bookList">{{book.name}}</li>
        </ul>
        <br>
        <ul>
            <li v-for="(book,index) in bookList">{{index}}-{{book.name}}</li>
        </ul>
    </div>
<script type="text/javascript">
    let vm=new Vue({
        el:"#app",
        data:{
            bookList:[
                {name:"《vue 实战》"},
                {name:"《javascript》"},
                {name:"《精通html》"}
            ]
        }
    })
</script>
</body>
</html>
